* {
    font-family: 'Yellowtail', cursive;
    color: white;
}

:root {
    --black-: #111111;
    --light-grey: #E2E1DF;
    --orange: #FF6700;
    --light-blue: #03a9f4;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(0deg, rgba(247,204,142,1) 0%, rgba(193,146,52,1) 46%, rgba(224,150,44,1) 100%);


}
#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 650px;
    width: 440px;
    background-color: var(--black-);
    border-radius: 10px;
}

#display {
    display: flex;
    justify-content: center;
    height: 100px;
    width: 85%;
    background-color: var(--light-grey);
    border: 10px solid black;
}

.displayText {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100%;
    font-size: 3.5em;
    background-color: var(--light-grey);
    color: black;
    text-align: right;
    border: none;
    padding: 0 20px 0 20px;
}

#btnContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    column-gap: 1px;
    padding: 10px;
    height: 70%;
    width: 85%;
    align-items: center;
}

.number {
    width: 95%;
    height: 95%;
    background: linear-gradient(0deg, rgba(130,130,147,1) 0%, rgba(77,77,97,1) 46%, rgba(74,74,92,1) 62%, rgba(74,74,92,1) 84%);
    border-radius: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    transition-property: filter;
    transition-duration: 250ms;
    transition-timing-function: ease;
    font-size: 3.2em;
}

.number:active {
    filter: brightness(150%);
}

.decimal {
    width: 95%;
    height: 95%;
    background: linear-gradient(0deg, rgba(130,130,147,1) 0%, rgba(77,77,97,1) 46%, rgba(74,74,92,1) 62%, rgba(74,74,92,1) 84%);
    border-radius: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
    transition-property: filter;
    transition-duration: 250ms;
    transition-timing-function: ease;
    font-size: 3.2em;
}

.decimal:active {
    filter: brightness(150%);
}

#zero {
    width: 97%;
    height: 95%;
    border-radius: 40px;;
    text-align: center;
    padding: 0;
    grid-column-start: 1;
    grid-column-end: 3;
    transition-property: filter;
    transition-duration: 250ms;
    transition-timing-function: ease; 
}

#zero:active {
    filter: brightness(150%);
}

.ac {
    width: 98%;
    height: 95%;
    background: linear-gradient(0deg, rgba(141,220,255,1) 0%, rgba(79,200,255,1) 46%, rgba(36,185,252,1) 62%, rgba(3,169,244,1) 84%);
    border-radius: 40px;;
    text-align: center;
    margin: 0;
    padding: 0;
    grid-column-start: 1;
    grid-column-end: 4;
    transition-property: filter;
    transition-duration: 250ms;
    transition-timing-function: ease;
    font-size: 3.2em;
}

.ac:active {
    filter: brightness(150%);
}

.operator {
    width: 95%;
    height: 95%;
    background: linear-gradient(0deg, rgba(254,138,61,1) 0%, rgba(247,125,43,1) 46%, rgba(255,121,30,1) 62%, rgba(255,103,0,1) 80%);
    border-radius: 100%;
    text-align: center;
    transition-property: filter;
    transition-duration: 250ms;
    transition-timing-function: ease;
    font-size: 3.2em;
    margin: 0 auto;
    padding: 0;
}

.operator:active {
    filter: brightness(150%);
}